<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.daftarbarang">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:label="@string/DaftarBarang"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- Halaman utama aplikasi -->
        <activity android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.AddBarangActivity" />
        <activity android:name=".activity.BarangActivity" />
        <activity android:name=".activity.AddKategoriActivity" />
        <activity android:name=".activity.DetailBarangActivity" />

    </application>

</manifest>
